.default-button {
    background-color: var(--color-primary-1);
    border: 2px solid var(--color-primary-1);
    border-radius: .5rem;
    padding: .8125rem 1.25rem;
    font-weight: 500;
    font-size: 1rem;
    color: var(--color-white);
    font-family: var(--font-family);
    cursor: pointer;
    transition: all .3s;
}

.default-button:hover {
    background-color: var(--color-primary-2);
    border: 2px solid var(--color-primary-2);
}